# Данная переменная для считывания в docker-compose. (Не работает, требует пересмотра)
# POSTGRES_PASSWORD=password
# DATABASE_URL=mongodb://127.0.0.1/your-database-name
# Формат: postgres://пользователь:пароль@хост:порт/имя_базы
# DATABASE_URI=postgres://user:password@localhost:5432/your-database-name
# Если sqlite
# DATABASE_URL=file:./cms-payload-test-blank.db
# Необходимо придумать или сгенерировать длинный хеш. Он будет использоваться для криптования данных. Например создания JWT токена. Например: 2e-jd60570ddc4f9_d273f2sdf3as-dc8
PAYLOAD_SECRET=YOUR_SECRET_HERE
# Указание данной переменной (PORT) почемуто не работает, хотя указывается как правильное решение в документации
# PORT=3333

# Креды удаленной (master-dev) базы
REMOTE_PG_USER=remote_database_user
REMOTE_PG_PASSWORD=remote_password
REMOTE_PG_HOST=10.10.10.10
REMOTE_PG_PORT=5432
# Имя базы данных созданной по умолчанию при создании сервиса Postgres. Используется при первичном подключении к сервису Postgres для создания целевой базы данных при её отсутствии. Обычно именуется как 'dbcreator' или 'postgres' 
REMOTE_PG_DEFAULT_DATABASE_NAME=dbcreator
# Имя базы должно соделжать только маленькие буквы (временно так, пока не найдется решение)
# REMOTE_PG_DATABASE_NAME=renpensions_cms2
REMOTE_PG_DATABASE_NAME=remote_database_name

# Креды локальной (loval-dev) базы
LOCAL_PG_USER=local_database_user
LOCAL_PG_PASSWORD=local_password
LOCAL_PG_HOST=10.91.29.57
LOCAL_PG_PORT=5432
# Имя базы должно соделжать только маленькие буквы (временно так, пока не найдется решение)
LOCAL_PG_DATABASE_NAME=local_database_name


# Использовать ли локальную (loval-dev) базу данных и директорию с файлами
IS_USE_LOCAL_DATABASE_AND_MEDIA=true

# Директория куда CMS будет складывать файлы. Для локальной разработки обычно ./media. Для запуска как удаленного сервиса, например - /mnt (/mnt/cms2). Хотя для удаленного сервиса передается через values.*.yaml
SHARED_FOLDER=./media