# Данная переменная для считывания в docker-compose. (Не работает, требует пересмотра)
# POSTGRES_PASSWORD=password
DATABASE_URL=mongodb://127.0.0.1/your-database-name
# Формат: postgres://пользователь:пароль@хост:порт/имя_базы
DATABASE_URI=postgres://user:password@localhost:5432/your-database-name
# Если sqlite
# DATABASE_URL=file:./cms-payload-test-blank.db
PAYLOAD_SECRET=YOUR_SECRET_HERE
# Указание данной переменной (PORT) почемуто не работает, хотя указывается как правильное решение в документации
PORT=3333